.label {
  @apply flex w-full py-4 text-left;
}

.labelForBasic {
  @apply flex-col;
}

.labelForCheckbox {
  @apply flex-row items-center;

  span {
    @apply flex-1;
  }
}

.requirementAsterix {
  @apply text-red-500;
}

.input {
  @apply appearance-none border-2 border-solid border-gray-900 p-2 mt-1 block w-full font-bold;

  &:focus {
    @apply outline-none;
  }

  &[type="checkbox"] {
    @apply w-12 h-12 mr-4 relative;

    &:after {
      @apply z-10 absolute left-1 bottom-2 -top-4 right-0 text-gray-900 text-6xl;
    }
  }
}

.checkboxChecked:after {
  content: "\2713";
}

.footer {
  @apply text-right mt-4;
}

.submit {
  @apply border-2 border-solid border-gray-900 bg-green-500 text-white py-2 px-4 shadow;

  &:disabled {
    @apply bg-gray-100 text-gray-400 border-gray-200;
  }
}

.error {
  @apply block text-red-500 w-full;
}