@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply appearance-none cursor-pointer;

  &:active,
  &:focus {
    @apply outline-none;
  }

  &:disabled {
    @apply cursor-not-allowed;
  }
}