.nav {
  @apply flex items-stretch justify-center border-2 border-solid border-gray-600 border-l-0 shadow;
}

.navItem {
  @apply flex-grow justify-center items-center text-center border-l-2 border-solid border-gray-600;

  button {
    @apply appearance-none border-none bg-transparent w-full h-full p-2;
  }
}

.navItem__active {
  @apply bg-blue-400;
}

.navItem__complete {
  @apply bg-blue-200;
}

.navItem__disabled {
  @apply bg-gray-50 text-gray-500;
}
